---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import icon from '../assets/icon.jpg';
import icon2 from '../assets/2331964-2.output.png';
import RustCoder from '../assets/RustCoder.png';
---

<Layout>
	<header>
		<h1>とがのプロフィール</h1>
	</header>
	<div class="background">
		<main>
			<Card>
				<h2>とが</h2>
				<p>一応、名前のアクセントは「<span class="underline">と</span> <span class="overline">が」</span>のつもりです（「水」と同じ平板型）。</p>
				<p>「<span class="overline endline">と</span> <span class="underline">が</span>」や「<span class="underline">と</span> <span class="overline endline">が</span>」ではありません。</p>
			</Card>
			<Card>
				<h2>アイコン</h2>
				<p>（クリック／タップで拡大）</p>
				<Image id="icon" class="image" src={icon} alt="とがのアイコン（Cafrette さん）" width="144" />
				<dialog id="iconDialog">
					<Image src="/icon.jpg" alt="とがのアイコン" width="1080" height="1080" />
				</dialog>
				<p>Cafrette&thinsp;さんに描いていただきました。</p>
				<Image id="icon2" class="image" src={icon2} alt="とがのアイコン（ふいしゆさん）" width="144" />
				<dialog id="icon2Dialog">
					<Image src="/2331964-2.output.png" alt="とがのアイコン" width="400" height="400"/>
				</dialog>
				<p>ふいしゆさんに描いていただきました。</p>
			</Card>
			<Card>
				<h2>OSS Contribution</h2>
				<p>Rust&thinsp;や&thinsp;Python&thinsp;ライブラリ&thinsp;SciPy&thinsp;などに貢献しています．</p>
			</Card>
			<Card>
				<h2>競プロ</h2>
				<p>使用言語：C / C++ / Rust</p>
				<p><a href="https://atcoder.jp/users/toga57">AtCoder</a>, <a href="https://codeforces.com/profile/57tggx">Codeforces</a></p>
				<ul>
					<li>PCK 2017 … 本選出場（失われた太陽を求めて）</li>
					<li>JOI 2018 … 本選出場</li>
					<li>ICPC 2019 … アジア横浜地区大会出場（<b>t</b>hx_yucpc）</li>
					<li>ICPC 2021 … アジア横浜地区大会出場（<b>t</b>oxic）</li>
					<li>ICPC 2022 … アジア横浜地区大会出場（h<b>a</b>unting）</li>
				</ul>
				<Image id="rustCoder" src={RustCoder} class="image" alt="とが『RustCoder&mdash;&mdash;AtCoder と Rust で始める競技プログラミング入門』の表紙" width="144" />
				<dialog id="rustCoderDialog">
					<Image src="/RustCoder.png" alt="とが『RustCoder&mdash;&mdash;AtCoder と Rust で始める競技プログラミング入門』の表紙" width="1043" height="1459" />
				</dialog>
				<p>『RustCoder&mdash;&mdash;AtCoder&thinsp;と&thinsp;Rust&thinsp;で始める競技プログラミング入門』は<a href="https://zenn.dev/toga/books/rust-atcoder/viewer/intro">終了しました</a>。</p>
			</Card>
			<Card>
				<h2>研究</h2>
				<p>主に統計や&thinsp;AI&thinsp;をやっています。</p>
				<ul>
					<li>Atsushi Komaba, Hisashi Johno, and Kazunori Nakamoto. A novel statistical approach for two-sample testing based on the overlap coefficient. <i>Journal of Mathematical Sciences, The University of Tokyo</i>, 30(2):205&ndash;240, 2023.</li>
					<li>Ryota Tozuka, Hisashi Johno, Akitomo Amakawa, Junichi Sato, Mizuki Muto, Shoichiro Seki, Atsushi Komaba, and Hiroshi Onishi. Application of NotebookLM, a large language model with retrieval‑augmented generation, for lung cancer staging. <i>Japanese Journal of Radiology</i>, 2024. Online ahead of print.</li>
				</ul>
				<p>他に日本磁気共鳴医学会、医療の質・安全学会など。</p>
			</Card>
			<Card>
				<h2>登山</h2>
				<p>一番印象に残っているのは槍ヶ岳（2022&thinsp;年&thinsp;9&thinsp;月、2025&thinsp;年&thinsp;5&thinsp;月）です。</p>
				<p><a href="https://x.com/57tggx/status/1573856006844850176">写真 (X)</a></p>
				<p>他に北岳（2022&thinsp;年&thinsp;7&thinsp;月）、鳳凰三山（2023&thinsp;年&thinsp;8&thinsp;月）、富士山（2024&thinsp;年&thinsp;7&thinsp;月）、赤岳（2025&thinsp;年&thinsp;2&thinsp;月）など。</p>
			</Card>
			<Card>
				<h2>好きな音楽</h2>
				<ul>
					<li>Eagles&mdash;<a href="https://www.youtube.com/watch?v=-q93wc3-deU">Desperado</a></li>
					<li>Pink Floyd&mdash;<a href="https://www.youtube.com/watch?v=7jMlFXouPk8">High Hopes</a></li>
					<li>Yes&mdash;<a href="https://www.youtube.com/watch?v=0pHeAROucGc">Hold On</a></li>
					<li>Emerson, Lake &amp; Palmer&mdash;<a href="https://www.youtube.com/watch?v=AGGpBXd7ToA">Tarkus</a></li>
					<li>Oomph!&mdash;<a href="https://www.youtube.com/watch?v=kQ75n89DS_0">Brennende Liebe</a></li>
					<li>相対性理論&mdash;<a href="https://www.youtube.com/watch?v=KQ7r3cQXb0g">バーモント・キッス</a></li>
					<li>Nyarons&mdash;<a href="https://www.youtube.com/watch?v=5wHe2v-6ewY">Lonely Lonely</a></li>
					<li>Noz.&mdash;<a href="https://www.youtube.com/watch?v=ajNGy63FhBY">ヘッジホッグ</a></li>
				</ul>
			</Card>
			<Card>
				<h2>リンク</h2>
				<ul>
					<li>X: <a href="https://x.com/57tggx">@57tggx</a></li>
					<li>Misskey: <a href="https://misskey.io/@five_seven">@five_seven@misskey.io</a> <a href="https://sushi.ski/@57">@57@sushi.ski</a></li>
					<li>GitHub: <a href="https://github.com/fiveseven-lambda/">fiveseven-lambda</a></li>
					<li>Zenn: <a href="https://zenn.dev/">toga</a></li>
					<li>SoundCloud: <a href="https://soundcloud.com/57tggx">57tggx</a></li>
					<li>Mathlog: <a href="https://mathlog.info/users/144/articles">@toga</a></li>
					<li>ORCID: <a href="https://orcid.org/0000-0002-4935-3945">0000-0002-4935-3945</a></li>
				</ul>
			</Card>
		</main>
	</div>
	<footer>
		<p><small>&copy; 2020&ndash;2025 Atsushi Komaba</small></p>
		<p><small>このページは&emsp14;<a href="https://astro.build/">Astro</a>&emsp14;で作りました</small></p>
	</footer>
</Layout>

<script>
	icon.addEventListener("click", () => iconDialog.showModal());
	iconDialog.addEventListener("click", () => iconDialog.close());
	icon2.addEventListener("click", () => icon2Dialog.showModal());
	icon2Dialog.addEventListener("click", () => icon2Dialog.close());
	rustCoder.addEventListener("click", () => rustCoderDialog.showModal());
	rustCoderDialog.addEventListener("click", () => rustCoderDialog.close());
</script>

<style>
	body {
		font-family: "Noto Sans CJK JP", sans-serif;
		font-feature-settings: "palt";
	}
	header, footer {
		text-align: center;
		padding: 2em;
	}
	.background {
		border-style: solid none;
		border-width: 1px;
		border-color: silver;
		background-color: whitesmoke;
	}
	main {
		margin: 0 auto;
		padding: .5em;
	}
	@media (min-width: 640px) {
		main {
			max-width: 640px;
		}
	}
	@media (min-width: 768px) {
		main {
			max-width: 768px;
		}
	}
	@media (min-width: 1024px) {
		main {
			max-width: 1024px;
		}
	}
	@media (min-width: 1280px) {
		main {
			max-width: 1280px;
		}
	}

	.image {
		width: 30%;
		max-width: 144px;
		cursor: pointer;
	}
	dialog {
		text-align: center;
	}
	img {
		width: 100%;
		height: auto;
	}

	h2, p {
		margin: .3em;
	}
	.underline {
		border-bottom: 1px solid;
	}
	.overline {
		border-top: 1px solid;
	}
	.endline {
		border-right: 1px solid;
	}
</style>