<div class="outer">
    <div class="inner">
        <slot />
    </div>
</div>

<style>
	.outer {
		padding: .5em;
	}
	.inner {
		background-color: white;
		padding: .5em 1em;
		border-radius: 16px;
	}
</style>